<style>
main {
  display: block;     /* für IE */	
  background: linear-gradient( #003471, #448CCB 30%);
  width: 80%;
  height:500px;
  margin: 10px auto;
}

/*Formatierung für die Ueberschrift h1.
Schriftgroeße, Schattierung, Schriftfarbe und Schriftart*/
h1 {
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 5em; line-height: 0.5em;
  margin: 0.3em 0.3em 1em 0.3em;
  color: hsl(13, 96%, 39%);
  text-shadow: 
    rgba(0,0,0,0.5) -1px 0, 
	rgba(0,0,0,0.3) 0 -1px, 
	rgba(255,255,255,0.5) 2px 2px, 
	rgba(0,0,0,0.3) -1px -2px;
}

/*Formatierung für die Ueberschrift h2.
Schriftgroeße, Schattierung, Schriftfarbe und Schriftart*/
h2 {
  font-family: Rockwell, Georgia, "Times New Roman", Times, serif;
  font-size: 2em; line-height: 0.2em;
  margin: 0.3em 0.3em 1em 0.3em;
  color: hsl(13, 96%, 39%);
  text-shadow: 
    rgba(0,0,0,0.5) -1px 0, 
	rgba(0,0,0,0.3) 0 -1px, 
	rgba(255,255,255,0.5) 2px 2px, 
	rgba(0,0,0,0.3) -1px -2px;
}

/*Formatierung für das Suchfeld.
Groeße, Ausrichtung und Abrundungen der Ecken*/
#suche {
  border: 2px solid #999;
  border-radius: 0.5em;;
  font-size: 1.2em;
  width: 10em;
  transition: width 0.5s ease-in-out;
}
 
#suche:focus {
  font-size: 1.5em;
  width: 50%;
}

/*Hintergrundfarbe der Zellen innerhalb der Tabelle*/
tbody tr:nth-child(even) td { 
  background-color: #e4ebf2; 
  color: #000; 
}

th[scope=row] { 
  color: #c32e04;
  text-align: right; 
}

/*Formatierung für die Tabelle*/
table {
  border-collapse: separate;
  border-spacing: 0.2em;
}
/*Abrunden der Ecken der Zellen in der Tabelle*/  
th,td {
  padding: 0.2em 0.5em;
  border-radius: 0.1em;  
}  
/*Schriftfarbe und Hintergrundfarbe der Tabelle*/
thead th {
  background-color: #ffebe6;
  color: #c32e04;
}
/*Schattierung und Abstände in der Tabelle*/
table {
  border-collapse: separate;
  border-spacing: 0.2em;
  margin-left:2em;
  box-shadow: 0 0 0.1em #666;
  position: relative;
  z-index:1;
}

/*Formatierung der Ueberschrift der Tabelle.
Schriftgroeße, Hintergrund/Schriftfarbe, Schattierung und Abstände*/
caption {
  color: white;
  background: hsl(13, 96%, 39%);
  font-size: 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0 hsl(0, 0%, 50%);
  padding: 0.2em 0.2em 0.2em 2em;
  width: 10em;
  margin-left: -.6em;
  position: relative;
}

caption::before {
  content: "";
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  top: 1em;
  left: -0.6em;
  border-style: solid;
  border-width: 0.6em;
  border-color: transparent hsl(13, 96%, 35%) transparent transparent;
  z-index: -1;
}

/*Formatierung für die Radio-Buttons. Abstände und Ausrichtung*/
.radiotrenner {
    display: block;
    float: left;
    width:90px;
}

/*Abstände/Ausrichtung Such-Buttom*/
label {
    width: 10em;
    padding: 0px 12px;
    display: block;
    float: left;
}

/*Abstände der Felder im Kontaktformular*/
.abst {
  display:block;
  margin-top:12px;
}

/*Abstände der internen Link-Buttons*/
form {
     display:block;
     margin-top:3px;
}

</style>
